/* mise en page Générale */
#blocpage 
{
    width: 1600px;
    font-family: "Raleway-Regular", Arial, sans-serif;
    margin: 28px 28px 0px 28px;
}

/* déclaration des polices personnalisées */
@font-face
{
    font-family: "Raleway-Bold";
    src: url("Raleway-Bold.ttf");
}

@font-face
{
    font-family: "Raleway-Regular";
    src: url("Raleway-Regular.ttf");
}

/* mise en page générale de l'en-tête */
header 
{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo
{
    width: 60%;
    margin-top: 20px;
    padding-top: 0px;
}

/* Dimensions du Logo Reservia */
.logo img 
{
    height: 50px;
    width: 100px;
    align-self: flex-start;    
}

/* Formatage des titres */
h1 
{
    font-family: "Raleway-Bold";
    font-size: 1.5em;
    font-weight: bold;
}

h2
{
    font-size: 1em;
    font-weight: normal;
}

/* mise en page menu */
nav 
{    
    margin-top: 0px;
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
}

/* mise en page et formatage des liens menu */
nav a
{
    color: #000;
    font-size: 1em;
    text-decoration: none;
    padding: 40px 40px 0px 40px;
    height: 80px;
}

nav a:nth-child(1)
{
    padding-left: 0px;
}

/* apparence du lien d'inscription */
.sinscrire 
{
    color: #0065FC;
    font-weight: bold;
    text-decoration: none;    
}

/*apparence des liens d'ancrage au survol */
nav a:hover 
{
    color: #0065FC;
    border-top: 2px #0065FC solid;
    
}

/* apparence des liens d'ancrage à la selection selection */
nav a:focus 
{
    font-weight: bold;
    color: #0065FC;
    border-top: 2px #0065FC solid;
}

.logo:hover, .sinscrire:hover
{
    border: none;
}

                /* adaptation responsive du menu de navigation + titres pour écrans PC et tablettes*/
                @media all and (min-width: 768px) and (max-width: 1600px)
                {
                    #blocpage
                    {
                        width: auto;
                    }
                }

                        /* adaptation responsive du menu de navigation + titres pour écrans smartphones*/
                        @media all and (max-width: 768px)
                        {
                            #blocpage
                            {
                                width: auto;
                                margin: 0px -8px 0px -8px;
                            }
                            
                            header 
                            {
                                width: auto;                                                            
                            }                    
                            
                            .logo
                            {
                                width: auto;
                                margin-left: 15px;                                                                       
                            }
                                                    
                            nav
                            {                        
                            display: flex;
                            flex-wrap: wrap-reverse;
                            width: 100%;
                            border-bottom: 2px solid #F2F2F2;                                                                                                                                                  
                            }

                            nav a
                            {
                                padding: 0%;
                                height: auto;
                            }
                            
                            nav a:hover:nth-child(4), a:hover:nth-child(1)
                            {
                                border: none;                   
                            }
                            
                            nav a:hover:nth-child(2), a:hover:nth-child(3)
                            {
                                border-bottom: 4px #0065FC solid;
                                border-top: none;                            
                            }
                            
                            nav a:nth-child(1)
                            {
                                order: 3;
                                padding-top: 0px;
                                width: 50%;
                            }
                            
                            nav a:nth-child(4)
                            {
                                order: 4;
                                margin-right: 15px;
                                padding-top: 20px;
                                width: auto;
                            }
                            
                            nav a:nth-child(2)
                            {
                                order:1;
                                width: 45%;
                                padding-top: 20px;
                                padding-bottom: 10px;
                                padding-right: 0px;
                                padding-left: 15px;
                                text-align: center;                        
                                margin-left: 0px;
                                margin-right: 0px;                                                                                                    
                            }

                            nav a:nth-child(3)
                            {
                                order:2;
                                width: 45%;                            
                                padding-top: 20px;
                                padding-bottom: 10px;                            
                                margin-right: 0px;
                                margin-left: 0px;
                                text-align: center;                                                
                            }
                            
                            h1
                            {
                                margin: 30px 15px 0px 15px;
                                text-justify: auto;
                            }                            
                            
                            h2
                            {
                                margin: 10px 15px 0px 15px;
                                text-justify: auto;
                            }
                        }

/* mise en page générale du formulaire de recherche */
#form 
{    
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    margin-top: 25px;    
}

/* apparence, formatage de l'icône du formulaire */
#form .fa-map-marker-alt 
{
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    padding: 15px 18px 15px 20px;
    background-color: #F2F2F2;
    font-size: 22px;
    margin-right: 0px;
}

/* apparence et taille du champ de saisie */
input
{
    border: 2px #F2F2F2 solid;
    border-right: none;
    height: 45px;
    width: 245px;
    font-size: 1.5em;
    margin-left: -4px;
}

/* apparence et taille du bouton de recherche */
.recherche 
{
    height: 49px;
    width: 150px;
    background-color: #0065FC;
    color: #FFFFFF;
    font-size: 1.3em;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;    
    border: none;    
}

.fa-search
{
    display: none;
}

                /* adaptation responsive du formulaire de recherche*/
                @media all and (max-width: 768px)
                {
                    #form
                    {                                                                          
                        align-content: center;
                        justify-content: center;
                    }
                    
                    input
                    {                                                
                        margin-left: -6px;                        
                    }

                    .recherche
                    {
                        width: 50px;
                        font-size: 0%;
                        border-radius: 15px;
                        margin-left: -12px;
                        height: 53px;
                    }
                    
                    .fa-search
                    {
                        display: inline;
                        font-size: 20px;
                    }
                }

                        @media all and (min-width: 280px) and (max-width: 420px)
                        {
                            input
                            {
                                width: 140px;
                            }
                        }